@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fdf6e3; /* Cream light brown */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #4B2E2E; /* Coffee brown text */
}

body {
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
  color: #4B2E2E;
  text-align: center;
}